USE [PathGuide]
GO
/****** Object:  Table [dbo].[admin_profiles]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_profiles](
	[admin_profile_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[is_full_admin] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[career_path_interests]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[career_path_interests](
	[career_path_interest_id] [int] IDENTITY(1,1) NOT NULL,
	[career_path_id] [int] NULL,
	[interest_id] [int] NULL,
 CONSTRAINT [PK_career_path_interests] PRIMARY KEY CLUSTERED 
(
	[career_path_interest_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[career_path_skills]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[career_path_skills](
	[career_path_skill_id] [int] IDENTITY(1,1) NOT NULL,
	[career_path_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[career_path_skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[career_paths]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[career_paths](
	[career_path_id] [int] IDENTITY(1,1) NOT NULL,
	[career_path] [varchar](100) NOT NULL,
 CONSTRAINT [PK_career_paths] PRIMARY KEY CLUSTERED 
(
	[career_path_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[career_plan_skills]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[career_plan_skills](
	[plan_skill_id] [int] IDENTITY(1,1) NOT NULL,
	[saved_plan_id] [int] NOT NULL,
	[skill_name] [nvarchar](255) NOT NULL,
	[skill_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[plan_skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[career_recommendations]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[career_recommendations](
	[recommendation_id] [int] IDENTITY(1,1) NOT NULL,
	[student_profile_id] [int] NOT NULL,
	[career_path_id] [int] NOT NULL,
	[interest_score] [float] NULL,
	[skill_score] [float] NULL,
	[collaborative_score] [float] NULL,
	[final_score] [float] NULL,
	[skills_matched] [int] NULL,
	[skills_required] [int] NULL,
	[missing_skills] [nvarchar](max) NULL,
	[algorithm_used] [varchar](20) NULL,
	[computed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[recommendation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_reviews]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[review_text] [nvarchar](1000) NULL,
	[course_title] [nvarchar](255) NOT NULL,
	[course_link] [nvarchar](500) NULL,
	[skill_name] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interest_categories]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interest_categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](50) NULL,
 CONSTRAINT [PK_interest_categories] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interests]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interests](
	[interest_id] [int] IDENTITY(1,1) NOT NULL,
	[interest_name] [nvarchar](100) NULL,
	[category_id] [int] NULL,
 CONSTRAINT [PK_interest2] PRIMARY KEY CLUSTERED 
(
	[interest_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interests_old]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interests_old](
	[interest_id] [int] IDENTITY(1,1) NOT NULL,
	[interest_name] [nvarchar](50) NULL,
	[category] [nvarchar](100) NULL,
 CONSTRAINT [PK_interests] PRIMARY KEY CLUSTERED 
(
	[interest_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[internship_applications]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[internship_applications](
	[application_id] [int] IDENTITY(1,1) NOT NULL,
	[internship_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[applied_at] [datetime2](7) NULL,
	[reviewed_at] [datetime2](7) NULL,
	[reviewer_notes] [nvarchar](max) NULL,
	[performance_rating] [int] NULL,
	[performance_comment] [text] NULL,
	[certificate_url] [varchar](500) NULL,
	[completed_at] [datetime] NULL,
	[mock_interview_report] [nvarchar](max) NULL,
	[mock_interview_report_shared] [bit] NOT NULL,
 CONSTRAINT [PK_internship_applications] PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[internship_reviews]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[internship_reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[internship_id] [int] NOT NULL,
	[overall_rating] [int] NOT NULL,
	[learning_rating] [int] NULL,
	[culture_rating] [int] NULL,
	[mentorship_rating] [int] NULL,
	[review_text] [nvarchar](2000) NULL,
	[pros] [nvarchar](500) NULL,
	[cons] [nvarchar](500) NULL,
	[would_recommend] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[internships]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[internships](
	[intership_id] [int] IDENTITY(1,1) NOT NULL,
	[recruiter_profile_id] [int] NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[location] [nvarchar](200) NULL,
	[start_date] [datetime2](7) NULL,
	[period_in_weeks] [int] NULL,
	[deadline] [date] NULL,
	[skill_id] [int] NULL,
	[stipend] [decimal](10, 2) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK__Internsh__01ADE59BA212D4FF] PRIMARY KEY CLUSTERED 
(
	[intership_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[majors]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[majors](
	[major_id] [int] IDENTITY(1,1) NOT NULL,
	[major_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_majors] PRIMARY KEY CLUSTERED 
(
	[major_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recruiter_profiles]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recruiter_profiles](
	[recruiter_profile_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[company_name] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[company_description] [nvarchar](1000) NULL,
	[logo_url] [nvarchar](200) NULL,
	[website] [varchar](100) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_recruiter_profiles] PRIMARY KEY CLUSTERED 
(
	[recruiter_profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[saved_career_plans]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[saved_career_plans](
	[saved_plan_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[target_role] [nvarchar](100) NOT NULL,
	[total_hours] [int] NULL,
	[weeks_at_10h] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[saved_plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_prerequisites]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_prerequisites](
	[skill_prereq_id] [int] IDENTITY(1,1) NOT NULL,
	[skill_id] [int] NOT NULL,
	[prerequisite_skill_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[skill_prereq_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skills]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skills](
	[skill_id] [int] IDENTITY(1,1) NOT NULL,
	[skill_name] [nvarchar](255) NOT NULL,
	[category] [nvarchar](255) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK__Skills__DFA091E7A8D53E42] PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_profiles]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_profiles](
	[student_profile_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[university_id] [int] NULL,
	[major_id] [int] NULL,
	[gpa] [decimal](3, 2) NULL,
	[graduation_year] [int] NULL,
	[cv_url] [nvarchar](200) NULL,
	[transcript_url] [nvarchar](200) NULL,
	[linkedin_url] [nvarchar](200) NULL,
	[github_url] [nvarchar](200) NULL,
	[career_path_id] [int] NULL,
	[bio] [ntext] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_student_profiles] PRIMARY KEY CLUSTERED 
(
	[student_profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students_interests]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students_interests](
	[student_interest_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[interest_id] [int] NOT NULL,
 CONSTRAINT [PK_students_interests] PRIMARY KEY CLUSTERED 
(
	[student_interest_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students_skills]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students_skills](
	[student_skill_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[skill_id] [int] NULL,
 CONSTRAINT [PK_student_interest] PRIMARY KEY CLUSTERED 
(
	[student_skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[universities]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[universities](
	[university_id] [int] IDENTITY(1,1) NOT NULL,
	[university_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_universities] PRIMARY KEY CLUSTERED 
(
	[university_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/19/2026 7:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[email_verified] [bit] NOT NULL,
	[verification_token] [nvarchar](255) NULL,
	[verification_token_expires] [datetime2](7) NULL,
	[reset_token] [nvarchar](255) NULL,
	[reset_token_expires] [datetime2](7) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin_profiles] ON 

INSERT [dbo].[admin_profiles] ([admin_profile_id], [user_id], [is_full_admin], [created_at], [updated_at]) VALUES (2, 11, 1, CAST(N'2026-02-21T22:09:08.8772414' AS DateTime2), CAST(N'2026-02-21T22:09:08.8772782' AS DateTime2))
SET IDENTITY_INSERT [dbo].[admin_profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[career_path_interests] ON 

INSERT [dbo].[career_path_interests] ([career_path_interest_id], [career_path_id], [interest_id]) VALUES (134, 2, 46)
INSERT [dbo].[career_path_interests] ([career_path_interest_id], [career_path_id], [interest_id]) VALUES (135, 2, 47)
INSERT [dbo].[career_path_interests] ([career_path_interest_id], [career_path_id], [interest_id]) VALUES (136, 2, 48)
GO
SET IDENTITY_INSERT [dbo].[career_path_interests] OFF
GO
SET IDENTITY_INSERT [dbo].[career_path_skills] ON 

INSERT [dbo].[career_path_skills] ([career_path_skill_id], [career_path_id], [skill_id]) VALUES (2, 1, 2)
INSERT [dbo].[career_path_skills] ([career_path_skill_id], [career_path_id], [skill_id]) VALUES (1, 1, 3)
INSERT [dbo].[career_path_skills] ([career_path_skill_id], [career_path_id], [skill_id]) VALUES (5, 1, 8)
SET IDENTITY_INSERT [dbo].[career_path_skills] OFF
GO
SET IDENTITY_INSERT [dbo].[career_paths] ON 

INSERT [dbo].[career_paths] ([career_path_id], [career_path]) VALUES (1, N'Junior Developer')
INSERT [dbo].[career_paths] ([career_path_id], [career_path]) VALUES (2, N'Backend Developer')
INSERT [dbo].[career_paths] ([career_path_id], [career_path]) VALUES (3, N'Frontend Developer')
SET IDENTITY_INSERT [dbo].[career_paths] OFF
GO
SET IDENTITY_INSERT [dbo].[course_reviews] ON 

INSERT [dbo].[course_reviews] ([review_id], [student_id], [rating], [review_text], [course_title], [course_link], [skill_name], [created_at], [updated_at]) VALUES (4, 4, 1, N'bad', N'MongoDB Masterclass: Excel in NoSQL & Pass Certification!', N'https://www.udemy.com/course/mongodb-masterclass-excel-in-nosql-pass-certification/', N'MongoDB', CAST(N'2026-01-01T13:20:06.397' AS DateTime), CAST(N'2026-01-01T13:20:06.397' AS DateTime))
INSERT [dbo].[course_reviews] ([review_id], [student_id], [rating], [review_text], [course_title], [course_link], [skill_name], [created_at], [updated_at]) VALUES (5, 4, 5, N'great', N'NumPy Masterclass: Python on Data Science & Machine Learning', N'https://www.udemy.com/course/scientific-computing-with-numpy/', N'Python', CAST(N'2026-01-01T13:31:07.050' AS DateTime), CAST(N'2026-01-01T21:37:25.740' AS DateTime))
SET IDENTITY_INSERT [dbo].[course_reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[interest_categories] ON 

INSERT [dbo].[interest_categories] ([category_id], [category]) VALUES (1, N'AI & Machine Learning')
INSERT [dbo].[interest_categories] ([category_id], [category]) VALUES (2, N'Creative & Visual Design')
INSERT [dbo].[interest_categories] ([category_id], [category]) VALUES (3, N'Data & Analytics')
SET IDENTITY_INSERT [dbo].[interest_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[interests] ON 

INSERT [dbo].[interests] ([interest_id], [interest_name], [category_id]) VALUES (46, N'Solving Logic Puzzles', 6)
INSERT [dbo].[interests] ([interest_id], [interest_name], [category_id]) VALUES (47, N'Debugging and Troubleshooting', 6)
INSERT [dbo].[interests] ([interest_id], [interest_name], [category_id]) VALUES (48, N'Optimizing Performance', 6)
SET IDENTITY_INSERT [dbo].[interests] OFF
GO
SET IDENTITY_INSERT [dbo].[interests_old] ON 

INSERT [dbo].[interests_old] ([interest_id], [interest_name], [category]) VALUES (1, N'Reading', NULL)
INSERT [dbo].[interests_old] ([interest_id], [interest_name], [category]) VALUES (2, N'Writing', NULL)
INSERT [dbo].[interests_old] ([interest_id], [interest_name], [category]) VALUES (3, N'Blogging', NULL)
SET IDENTITY_INSERT [dbo].[interests_old] OFF
GO
SET IDENTITY_INSERT [dbo].[internship_applications] ON 

INSERT [dbo].[internship_applications] ([application_id], [internship_id], [student_id], [status], [applied_at], [reviewed_at], [reviewer_notes], [performance_rating], [performance_comment], [certificate_url], [completed_at], [mock_interview_report], [mock_interview_report_shared]) VALUES (1, 2, 5, N'rejected', CAST(N'2025-12-15T11:27:21.6703304' AS DateTime2), CAST(N'2025-12-15T20:03:31.1839006' AS DateTime2), N'', NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[internship_applications] ([application_id], [internship_id], [student_id], [status], [applied_at], [reviewed_at], [reviewer_notes], [performance_rating], [performance_comment], [certificate_url], [completed_at], [mock_interview_report], [mock_interview_report_shared]) VALUES (2, 1, 5, N'completed', CAST(N'2025-12-24T13:22:15.5396951' AS DateTime2), CAST(N'2026-01-05T11:35:13.6915000' AS DateTime2), N'', 5, NULL, N'https://www.coursera.org/degrees/masters', CAST(N'2026-01-05T17:00:00.000' AS DateTime), NULL, 0)
INSERT [dbo].[internship_applications] ([application_id], [internship_id], [student_id], [status], [applied_at], [reviewed_at], [reviewer_notes], [performance_rating], [performance_comment], [certificate_url], [completed_at], [mock_interview_report], [mock_interview_report_shared]) VALUES (3, 1, 4, N'completed', CAST(N'2026-01-01T21:30:30.9072572' AS DateTime2), CAST(N'2026-01-02T12:45:15.0044676' AS DateTime2), N'', 5, NULL, N'https://www.coursera.org/degrees/masters', CAST(N'2026-01-05T17:00:00.000' AS DateTime), NULL, 0)
INSERT [dbo].[internship_applications] ([application_id], [internship_id], [student_id], [status], [applied_at], [reviewed_at], [reviewer_notes], [performance_rating], [performance_comment], [certificate_url], [completed_at], [mock_interview_report], [mock_interview_report_shared]) VALUES (4, 3, 4, N'pending', CAST(N'2026-05-10T05:24:03.0213580' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, N'---
# Interview Evaluation Report

**Candidate:** Menna Elhalwagy
**Position:** AI Basics Intern  
**Company:** TechVision Inc.  

---

## 1. Overall Assessment

**Recommendation:** **Consider**

Menna demonstrates foundational technical knowledge and genuine interest in programming, specifically in back-end development and technologies like .NET and ASP.NET Core. As a near-graduate, she brings relevant university coursework and hands-on experience from a collaborative graduation project. Her responses indicate she is still developing confidence and communication clarity, but shows potential, analytical ability, and willingness to learn. With effective onboarding, mentorship, and exposure to a supportive team environment, she has the potential to grow into a productive intern. Recommend consideration for the internship, with a focus on guidance and support in communication and engagement.

---

## 2. Communication Skills

**Score:** **5/10**

- **Observations:**  
  - Responses are generally brief, sometimes hesitant or incomplete.
  - Some difficulty elaborating or expanding on answers; pauses and filler words (“um”) present.
  - Limited articulation when discussing technical work, but able to convey the core idea of her role.
  - Communication is clear enough to be understood, but lacks fluency and detail expected as she develops.

*For her experience level, this is adequate, but improvement is important for team interaction and self-advocacy.*

---

## 3. Technical Foundations

**Score:** **6/10**

- **Observations:**  
  - Demonstrates concrete, relevant knowledge by discussing her graduation project.
  - Comfortable naming technologies: .NET, ASP.NET Core, back-end programming, authentication.
  - Experience in full-stack projects (website and Flutter app) is a plus, though details are minimal.
  - Still developing the ability to discuss technical work at depth, but foundational knowledge is present for an intern.

---

## 4. Problem Solving & Learning Ability

**Score:** **5/10**

- **Observations:**  
  - Approaches questions thoughtfully, openly notes when she needs clarification (“go ahead, please”).
  - Suggests ability to handle unfamiliar challenges (worked on authentication and new functionalities in graduation project).
  - Assessment hindered by limited elaboration; with more prompting or in practical settings she may demonstrate more analytical depth.

---

## 5. Cultural Fit & Teamwork

**Score:** **6/10**

- **Observations:**  
  - Cites collaborative work with project team (graduation project); no “red flags” regarding teamwork.
  - Demonstrates respect, politeness, and willingness to elaborate when asked.
  - Enthusiasm is somewhat muted; could benefit from encouragement to express motivation and connect with team members.

---

## 6. Non-Verbal Communication

**Score:** **6/10**

- **Observations:**  
  - Body language is generally attentive: upright posture, direct gaze at the camera much of the time.
  - Facial expressions neutral to slightly serious; rarely overtly tense, but lacks warmth or visible enthusiasm.
  - Moments of direct eye contact and intent listening suggest reasonable confidence for a student/new graduate.
  - Could be coached to show more positive energy and engagement.

---

## 7. Strengths

1. **Foundational Technical Knowledge:**  
   - Relevant understanding of modern back-end technologies (ASP.NET Core, authentication flows).
2. **Teamwork Experience:**  
   - Worked within a group on a substantial project, showing the ability to collaborate.
3. **Composure and Attentiveness:**  
   - Calm, consistent posture and ability to remain focused throughout the discussion.

---

## 8. Areas for Growth

1. **Communication & Articulation:**  
   - Develop ability to speak with more detail, confidence, and structure about technical concepts and experiences.
2. **Expressing Enthusiasm & Initiative:**  
   - Practice visibly conveying motivation and eagerness—this helps team integration and self-advocacy.
3. **Depth of Technical Explanation:**  
   - Work on elaborating on technical challenges, designs, and problem-solving strategies when discussing work.

---

## 9. Detailed Notes

**Stage 1: Introduction**
- Quiet initial responses, showed interest in programming, .NET, back-end, ML/AI but provided limited elaboration.

**Stage 2: Academic/Project Experience**
- Confirmed she is in the final year at Nile University (Computer Science).
- Described graduation project: website and Flutter app for helping students find courses/internships.
- Her role was on the ASP.NET Core back-end, specifically on user authentication and administration.

**Stage 3: Technical Questions**
- Some hesitancy in responses; needed interviewer guidance and repetition of questions.
- Mentioned key back-end tasks (authentication for multiple user types), but little detail on tools or challenges.

**Stage 4: Behavioral/Teamwork**
- Implicitly showcased teamwork via group project, but did not proactively highlight collaboration or conflict resolution.

**Stage 5: Non-verbal Observations**
- Consistently calm, composed posture, direct gaze in several frames, though sometimes reserved and not overtly enthusiastic.
- Serious demeanor, indicating concentration but possibly lack of comfort or experience in interviews.

---

## 10. Final Recommendation

**Summary:**  
Menna Elhalwagy demonstrates the key ingredients for a successful entry-level intern: relevant coursework, hands-on experience with meaningful technical projects, and an evident foundation in back-end programming. While her communication and confidence are still developing—manifested in brief, hesitant responses and a reserved demeanor—she shows clear potential, respectfulness, and composure under interview conditions.

**Justification:**  
- *Technical readiness* is sufficient for internship onboarding.
- *Willingness to learn* and follow guidance is evident.
- *Communication and engagement skills* will improve with mentorship and exposure.
- *No red flags* for attitude, coachability, or basic team fit.

**Suggested Mentorship Focus Areas:**
1. Structured communication: Practice sharing technical experiences in greater detail.
2. Encouraging active participation in team discussions and collaborative work.
3. Exposure to real-world back-end development flows, debugging, and teamwork.

**Conclusion:**  
**Consider** for internship offer. With supportive onboarding and clear mentorship, Menna is likely to make meaningful progress and positive contributions to TechVision’s team. She fits the target profile for a junior intern and offers promise for future growth.', 0)
INSERT [dbo].[internship_applications] ([application_id], [internship_id], [student_id], [status], [applied_at], [reviewed_at], [reviewer_notes], [performance_rating], [performance_comment], [certificate_url], [completed_at], [mock_interview_report], [mock_interview_report_shared]) VALUES (5, 2, 4, N'pending', CAST(N'2026-06-08T16:16:12.3966667' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, N'# Mock Interview Report

**Candidate:** Menna Halwagy
**Position:** Python Internship
**Date:** 08/06/2026
**Overall Score:** 8.2 / 10

## Summary
The candidate demonstrated a solid understanding of core Python concepts and
communicated her reasoning clearly. She approached problems methodically and
was comfortable discussing trade-offs.

## Strengths
- **Problem solving:** Broke down the coding task into small, testable steps.
- **Python fundamentals:** Confident with list comprehensions, dictionaries, and error handling.
- **Communication:** Explained her thought process out loud while coding.

## Areas to Improve
- **Time/space complexity:** Could analyze Big-O more precisely before optimizing.
- **Testing:** Mention edge cases earlier and write a few assertions up front.

## Question-by-Question
1. *Reverse a linked list* — Correct iterative solution. Score: 9/10
2. *Word frequency counter* — Working solution; suggested using `collections.Counter`. Score: 8/10
3. *Behavioral: handling a missed deadline* — Honest, reflective answer. Score: 8/10

## Recommendation
**Proceed to the next round.** With a little more practice on complexity
analysis, the candidate would be a strong junior contributor.', 0)
INSERT [dbo].[internship_applications] ([application_id], [internship_id], [student_id], [status], [applied_at], [reviewed_at], [reviewer_notes], [performance_rating], [performance_comment], [certificate_url], [completed_at], [mock_interview_report], [mock_interview_report_shared]) VALUES (6, 2, 58, N'pending', CAST(N'2026-06-08T16:27:52.9700000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, N'# Mock Interview Report

**Candidate:** Menna Tamer Elhalwagy
**Position:** Python Internship
**Date:** 08/06/2026
**Overall Score:** 8.2 / 10

## Summary
The candidate demonstrated a solid understanding of core Python concepts and
communicated her reasoning clearly. She approached problems methodically and
was comfortable discussing trade-offs.

## Strengths
- **Problem solving:** Broke down the coding task into small, testable steps.
- **Python fundamentals:** Confident with list comprehensions, dictionaries, and error handling.
- **Communication:** Explained her thought process out loud while coding.

## Areas to Improve
- **Time/space complexity:** Could analyze Big-O more precisely before optimizing.
- **Testing:** Mention edge cases earlier and write a few assertions up front.

## Question-by-Question
1. *Reverse a linked list* — Correct iterative solution. Score: 9/10
2. *Word frequency counter* — Working solution; suggested using `collections.Counter`. Score: 8/10
3. *Behavioral: handling a missed deadline* — Honest, reflective answer. Score: 8/10

## Recommendation
**Proceed to the next round.** With a little more practice on complexity
analysis, the candidate would be a strong junior contributor.', 1)
SET IDENTITY_INSERT [dbo].[internship_applications] OFF
GO
SET IDENTITY_INSERT [dbo].[internships] ON 

INSERT [dbo].[internships] ([intership_id], [recruiter_profile_id], [title], [description], [location], [start_date], [period_in_weeks], [deadline], [skill_id], [stipend], [is_active], [created_at], [updated_at]) VALUES (1, 1, N'Python', N'Python', NULL, CAST(N'2025-12-15T00:00:00.0000000' AS DateTime2), 5, CAST(N'2026-02-01' AS Date), NULL, CAST(2000.00 AS Decimal(10, 2)), 1, CAST(N'2025-12-15T10:08:43.1153450' AS DateTime2), CAST(N'2025-12-15T11:09:55.8560197' AS DateTime2))
INSERT [dbo].[internships] ([intership_id], [recruiter_profile_id], [title], [description], [location], [start_date], [period_in_weeks], [deadline], [skill_id], [stipend], [is_active], [created_at], [updated_at]) VALUES (2, 1, N'Python', N'Python intern', N'Cairo, Nasr City', CAST(N'2025-12-15T00:00:00.0000000' AS DateTime2), 12, CAST(N'2026-01-01' AS Date), NULL, NULL, 1, CAST(N'2025-12-15T10:09:12.0534797' AS DateTime2), CAST(N'2025-12-15T11:09:08.0933700' AS DateTime2))
INSERT [dbo].[internships] ([intership_id], [recruiter_profile_id], [title], [description], [location], [start_date], [period_in_weeks], [deadline], [skill_id], [stipend], [is_active], [created_at], [updated_at]) VALUES (3, 2, N'AI Programming Basics', N'AI Programming Basics:
AI Algorithms-Lang chain/Lang graph', N'Cairo, Nasr City', CAST(N'2026-06-01T00:00:00.0000000' AS DateTime2), 4, CAST(N'2026-05-20' AS Date), 3, CAST(2000.00 AS Decimal(10, 2)), 1, CAST(N'2026-05-10T05:23:32.1045884' AS DateTime2), CAST(N'2026-05-10T05:23:32.1046396' AS DateTime2))
SET IDENTITY_INSERT [dbo].[internships] OFF
GO
SET IDENTITY_INSERT [dbo].[majors] ON 

INSERT [dbo].[majors] ([major_id], [major_name]) VALUES (1, N'Computer Science')
INSERT [dbo].[majors] ([major_id], [major_name]) VALUES (2, N'Biomedical Informatics')
INSERT [dbo].[majors] ([major_id], [major_name]) VALUES (3, N'Artificial Inteligence')
SET IDENTITY_INSERT [dbo].[majors] OFF
GO
SET IDENTITY_INSERT [dbo].[recruiter_profiles] ON 

INSERT [dbo].[recruiter_profiles] ([recruiter_profile_id], [user_id], [company_name], [email], [company_description], [logo_url], [website], [created_at], [updated_at]) VALUES (1, 6, N'Hi Soft', N'tmr_halwagy@yahoo.com', N'Rising and promising startup', NULL, N'https://www.hosoft.com', CAST(N'2025-12-14T23:39:29.2130484' AS DateTime2), CAST(N'2025-12-14T23:40:53.1911804' AS DateTime2))
INSERT [dbo].[recruiter_profiles] ([recruiter_profile_id], [user_id], [company_name], [email], [company_description], [logo_url], [website], [created_at], [updated_at]) VALUES (2, 8, N'Tech Vision', N'tmrhalwagy@gmail.com', NULL, NULL, NULL, CAST(N'2026-01-01T21:25:56.1534007' AS DateTime2), CAST(N'2026-05-10T05:20:04.9721025' AS DateTime2))
SET IDENTITY_INSERT [dbo].[recruiter_profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[skill_prerequisites] ON 

INSERT [dbo].[skill_prerequisites] ([skill_prereq_id], [skill_id], [prerequisite_skill_id]) VALUES (2, 2, 8)
INSERT [dbo].[skill_prerequisites] ([skill_prereq_id], [skill_id], [prerequisite_skill_id]) VALUES (16, 4, 2)
INSERT [dbo].[skill_prerequisites] ([skill_prereq_id], [skill_id], [prerequisite_skill_id]) VALUES (1, 9, 8)
SET IDENTITY_INSERT [dbo].[skill_prerequisites] OFF
GO
SET IDENTITY_INSERT [dbo].[skills] ON 

INSERT [dbo].[skills] ([skill_id], [skill_name], [category], [is_active], [created_at]) VALUES (1, N'Java', N'Programming Language', 1, CAST(N'2025-12-12T17:31:25.0766667' AS DateTime2))
INSERT [dbo].[skills] ([skill_id], [skill_name], [category], [is_active], [created_at]) VALUES (2, N'JavaScript', N'Programming Language', 1, CAST(N'2025-12-12T17:31:25.0766667' AS DateTime2))
INSERT [dbo].[skills] ([skill_id], [skill_name], [category], [is_active], [created_at]) VALUES (3, N'Python', N'Programming Language', 1, CAST(N'2025-12-12T17:31:25.0766667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[skills] OFF
GO
SET IDENTITY_INSERT [dbo].[student_profiles] ON 

INSERT [dbo].[student_profiles] ([student_profile_id], [user_id], [university_id], [major_id], [gpa], [graduation_year], [cv_url], [transcript_url], [linkedin_url], [github_url], [career_path_id], [bio], [created_at], [updated_at]) VALUES (4, 5, 36, 1, CAST(3.62 AS Decimal(3, 2)), 2027, NULL, NULL, NULL, NULL, 4, NULL, CAST(N'2025-12-14T20:44:21.2293250' AS DateTime2), CAST(N'2026-05-10T07:36:06.5900000' AS DateTime2))
INSERT [dbo].[student_profiles] ([student_profile_id], [user_id], [university_id], [major_id], [gpa], [graduation_year], [cv_url], [transcript_url], [linkedin_url], [github_url], [career_path_id], [bio], [created_at], [updated_at]) VALUES (5, 7, 36, 1, CAST(3.60 AS Decimal(3, 2)), 2026, NULL, NULL, NULL, NULL, 2, NULL, CAST(N'2025-12-15T11:20:51.5863923' AS DateTime2), CAST(N'2025-12-19T02:01:38.5413499' AS DateTime2))
INSERT [dbo].[student_profiles] ([student_profile_id], [user_id], [university_id], [major_id], [gpa], [graduation_year], [cv_url], [transcript_url], [linkedin_url], [github_url], [career_path_id], [bio], [created_at], [updated_at]) VALUES (6, 9, 36, 1, NULL, 2026, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2026-01-07T20:39:49.2862051' AS DateTime2), CAST(N'2026-01-07T20:39:49.2862673' AS DateTime2))
SET IDENTITY_INSERT [dbo].[student_profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[students_interests] ON 

INSERT [dbo].[students_interests] ([student_interest_id], [student_id], [interest_id]) VALUES (55, 4, 46)
INSERT [dbo].[students_interests] ([student_interest_id], [student_id], [interest_id]) VALUES (56, 4, 47)
INSERT [dbo].[students_interests] ([student_interest_id], [student_id], [interest_id]) VALUES (57, 4, 48)
GO
SET IDENTITY_INSERT [dbo].[students_interests] OFF
GO
SET IDENTITY_INSERT [dbo].[students_skills] ON 

INSERT [dbo].[students_skills] ([student_skill_id], [student_id], [skill_id]) VALUES (64, 5, 8)
INSERT [dbo].[students_skills] ([student_skill_id], [student_id], [skill_id]) VALUES (65, 5, 2)
INSERT [dbo].[students_skills] ([student_skill_id], [student_id], [skill_id]) VALUES (66, 5, 9)
GO
SET IDENTITY_INSERT [dbo].[students_skills] OFF
GO
SET IDENTITY_INSERT [dbo].[universities] ON 

INSERT [dbo].[universities] ([university_id], [university_name]) VALUES (1, N'Ain Shams University')
INSERT [dbo].[universities] ([university_id], [university_name]) VALUES (2, N'Alexandria University')
INSERT [dbo].[universities] ([university_id], [university_name]) VALUES (3, N'Assiut University')
SET IDENTITY_INSERT [dbo].[universities] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [email], [password], [role], [name], [phone], [is_active], [created_at], [updated_at], [email_verified], [verification_token], [verification_token_expires], [reset_token], [reset_token_expires]) VALUES (6, N'tmr_halwagy@yahoo.com', N'$2a$12$wWY1yzOVrFRXnO4uaqyRRuFAWl8wF.YBOkVMfyV8fdV49hDpE4yAe', N'recruiter', N'Tamer Mohammed', N'+201224732200', 1, CAST(N'2025-12-14T23:39:29.1251749' AS DateTime2), CAST(N'2025-12-14T23:40:14.4338068' AS DateTime2), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[users] ([user_id], [email], [password], [role], [name], [phone], [is_active], [created_at], [updated_at], [email_verified], [verification_token], [verification_token_expires], [reset_token], [reset_token_expires]) VALUES (7, N'tamer@rentcentric.com', N'$2a$12$8AwFamWRZyWRwYkPxj4sy.9kSZNezae/HvoAdWiZOTMQjz0Nz39zW', N'student', N'Arwa Tamer', N'+201224732200', 1, CAST(N'2025-12-15T11:20:51.4497852' AS DateTime2), CAST(N'2025-12-15T11:21:24.5835226' AS DateTime2), 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ_cps_career_skill]    Script Date: 6/19/2026 7:44:17 AM ******/
ALTER TABLE [dbo].[career_path_skills] ADD  CONSTRAINT [UQ_cps_career_skill] UNIQUE NONCLUSTERED 
(
	[career_path_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_course_reviews_student_course]    Script Date: 6/19/2026 7:44:17 AM ******/
ALTER TABLE [dbo].[course_reviews] ADD  CONSTRAINT [UQ_course_reviews_student_course] UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[course_title] ASC,
	[course_link] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__internsh__3BCBDCF37E865C8D]    Script Date: 6/19/2026 7:44:17 AM ******/
ALTER TABLE [dbo].[internship_reviews] ADD UNIQUE NONCLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_sp_skill_prereq]    Script Date: 6/19/2026 7:44:17 AM ******/
ALTER TABLE [dbo].[skill_prerequisites] ADD  CONSTRAINT [UQ_sp_skill_prereq] UNIQUE NONCLUSTERED 
(
	[skill_id] ASC,
	[prerequisite_skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin_profiles] ADD  DEFAULT ((0)) FOR [is_full_admin]
GO
ALTER TABLE [dbo].[admin_profiles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[admin_profiles] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[career_recommendations] ADD  DEFAULT ((0.0)) FOR [interest_score]
GO
ALTER TABLE [dbo].[career_recommendations] ADD  DEFAULT ((0.0)) FOR [skill_score]
GO
ALTER TABLE [dbo].[career_recommendations] ADD  DEFAULT ((0.0)) FOR [collaborative_score]
GO
ALTER TABLE [dbo].[career_recommendations] ADD  DEFAULT ((0.0)) FOR [final_score]
GO
ALTER TABLE [dbo].[career_recommendations] ADD  DEFAULT ((0)) FOR [skills_matched]
GO
ALTER TABLE [dbo].[career_recommendations] ADD  DEFAULT ((0)) FOR [skills_required]
GO
ALTER TABLE [dbo].[career_recommendations] ADD  DEFAULT ('content') FOR [algorithm_used]
GO
ALTER TABLE [dbo].[career_recommendations] ADD  DEFAULT (getdate()) FOR [computed_at]
GO
ALTER TABLE [dbo].[course_reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[course_reviews] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[internship_applications] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[internship_applications] ADD  DEFAULT (getdate()) FOR [applied_at]
GO
ALTER TABLE [dbo].[internship_applications] ADD  CONSTRAINT [DF_internship_applications_mock_share]  DEFAULT ((0)) FOR [mock_interview_report_shared]
GO
ALTER TABLE [dbo].[internship_reviews] ADD  DEFAULT ((1)) FOR [would_recommend]
GO
ALTER TABLE [dbo].[internship_reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[internship_reviews] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[internships] ADD  CONSTRAINT [DF_internships_is_active]  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[internships] ADD  CONSTRAINT [DF__Internshi__Creat__5BE2A6F2]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[saved_career_plans] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[saved_career_plans] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[saved_career_plans] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[skills] ADD  CONSTRAINT [DF_skills_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[skills] ADD  CONSTRAINT [DF__Skills__CreatedD__44FF419A]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [email_verified]
GO
ALTER TABLE [dbo].[admin_profiles]  WITH CHECK ADD  CONSTRAINT [FK_admin_profiles_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_profiles] CHECK CONSTRAINT [FK_admin_profiles_users]
GO
ALTER TABLE [dbo].[career_path_skills]  WITH CHECK ADD  CONSTRAINT [FK_cps_career_path] FOREIGN KEY([career_path_id])
REFERENCES [dbo].[career_paths] ([career_path_id])
GO
ALTER TABLE [dbo].[career_path_skills] CHECK CONSTRAINT [FK_cps_career_path]
GO
ALTER TABLE [dbo].[career_path_skills]  WITH CHECK ADD  CONSTRAINT [FK_cps_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([skill_id])
GO
ALTER TABLE [dbo].[career_path_skills] CHECK CONSTRAINT [FK_cps_skill]
GO
ALTER TABLE [dbo].[career_plan_skills]  WITH CHECK ADD  CONSTRAINT [FK_career_plan_skills_plan] FOREIGN KEY([saved_plan_id])
REFERENCES [dbo].[saved_career_plans] ([saved_plan_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[career_plan_skills] CHECK CONSTRAINT [FK_career_plan_skills_plan]
GO
ALTER TABLE [dbo].[career_plan_skills]  WITH CHECK ADD  CONSTRAINT [FK_career_plan_skills_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([skill_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[career_plan_skills] CHECK CONSTRAINT [FK_career_plan_skills_skill]
GO
ALTER TABLE [dbo].[career_recommendations]  WITH CHECK ADD  CONSTRAINT [FK_cr_career] FOREIGN KEY([career_path_id])
REFERENCES [dbo].[career_paths] ([career_path_id])
GO
ALTER TABLE [dbo].[career_recommendations] CHECK CONSTRAINT [FK_cr_career]
GO
ALTER TABLE [dbo].[career_recommendations]  WITH CHECK ADD  CONSTRAINT [FK_cr_student] FOREIGN KEY([student_profile_id])
REFERENCES [dbo].[student_profiles] ([student_profile_id])
GO
ALTER TABLE [dbo].[career_recommendations] CHECK CONSTRAINT [FK_cr_student]
GO
ALTER TABLE [dbo].[course_reviews]  WITH CHECK ADD  CONSTRAINT [FK_course_reviews_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[student_profiles] ([student_profile_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[course_reviews] CHECK CONSTRAINT [FK_course_reviews_student]
GO
ALTER TABLE [dbo].[internship_applications]  WITH CHECK ADD  CONSTRAINT [FK_internship_applications_internships] FOREIGN KEY([internship_id])
REFERENCES [dbo].[internships] ([intership_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[internship_applications] CHECK CONSTRAINT [FK_internship_applications_internships]
GO
ALTER TABLE [dbo].[internship_applications]  WITH CHECK ADD  CONSTRAINT [FK_internship_applications_student_profiles] FOREIGN KEY([student_id])
REFERENCES [dbo].[student_profiles] ([student_profile_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[internship_applications] CHECK CONSTRAINT [FK_internship_applications_student_profiles]
GO
ALTER TABLE [dbo].[internship_reviews]  WITH CHECK ADD  CONSTRAINT [fk_internship_reviews_application] FOREIGN KEY([application_id])
REFERENCES [dbo].[internship_applications] ([application_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[internship_reviews] CHECK CONSTRAINT [fk_internship_reviews_application]
GO
ALTER TABLE [dbo].[internship_reviews]  WITH CHECK ADD  CONSTRAINT [fk_internship_reviews_internship] FOREIGN KEY([internship_id])
REFERENCES [dbo].[internships] ([intership_id])
GO
ALTER TABLE [dbo].[internship_reviews] CHECK CONSTRAINT [fk_internship_reviews_internship]
GO
ALTER TABLE [dbo].[internship_reviews]  WITH CHECK ADD  CONSTRAINT [fk_internship_reviews_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[student_profiles] ([student_profile_id])
GO
ALTER TABLE [dbo].[internship_reviews] CHECK CONSTRAINT [fk_internship_reviews_student]
GO
ALTER TABLE [dbo].[internships]  WITH CHECK ADD  CONSTRAINT [FK_internships_recruiter_profiles] FOREIGN KEY([recruiter_profile_id])
REFERENCES [dbo].[recruiter_profiles] ([recruiter_profile_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[internships] CHECK CONSTRAINT [FK_internships_recruiter_profiles]
GO
ALTER TABLE [dbo].[internships]  WITH CHECK ADD  CONSTRAINT [FK_internships_skills] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([skill_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[internships] CHECK CONSTRAINT [FK_internships_skills]
GO
ALTER TABLE [dbo].[saved_career_plans]  WITH CHECK ADD  CONSTRAINT [FK_saved_career_plans_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[student_profiles] ([student_profile_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[saved_career_plans] CHECK CONSTRAINT [FK_saved_career_plans_student]
GO
ALTER TABLE [dbo].[skill_prerequisites]  WITH CHECK ADD  CONSTRAINT [FK_sp_prereq] FOREIGN KEY([prerequisite_skill_id])
REFERENCES [dbo].[skills] ([skill_id])
GO
ALTER TABLE [dbo].[skill_prerequisites] CHECK CONSTRAINT [FK_sp_prereq]
GO
ALTER TABLE [dbo].[skill_prerequisites]  WITH CHECK ADD  CONSTRAINT [FK_sp_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([skill_id])
GO
ALTER TABLE [dbo].[skill_prerequisites] CHECK CONSTRAINT [FK_sp_skill]
GO
ALTER TABLE [dbo].[course_reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[internship_reviews]  WITH CHECK ADD CHECK  (([culture_rating] IS NULL OR [culture_rating]>=(1) AND [culture_rating]<=(5)))
GO
ALTER TABLE [dbo].[internship_reviews]  WITH CHECK ADD CHECK  (([learning_rating] IS NULL OR [learning_rating]>=(1) AND [learning_rating]<=(5)))
GO
ALTER TABLE [dbo].[internship_reviews]  WITH CHECK ADD CHECK  (([mentorship_rating] IS NULL OR [mentorship_rating]>=(1) AND [mentorship_rating]<=(5)))
GO
ALTER TABLE [dbo].[internship_reviews]  WITH CHECK ADD CHECK  (([overall_rating]>=(1) AND [overall_rating]<=(5)))
GO
ALTER TABLE [dbo].[skill_prerequisites]  WITH CHECK ADD  CONSTRAINT [CK_sp_no_self] CHECK  (([skill_id]<>[prerequisite_skill_id]))
GO
ALTER TABLE [dbo].[skill_prerequisites] CHECK CONSTRAINT [CK_sp_no_self]
GO
